#container {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    margin: 0 20% 0 20%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 5%;
}

/* -----------LEFTSIDE------------------- */
#leftSide {
    display: inline;
    background-color: rgb(244, 252, 255);
    padding: 5%;
    margin-right: 5%;
    padding-top: 20%;;
    /* border: 1px solid #0e9c0d; */
    
}
#imgBlock img{
width:100px;;
height: 100px;
/* border: 1px solid rgb(0, 128, 255); */
border-radius: 40px;
padding-top: 10px;
      
}
#leftSide > div {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* border: 1px solid red; */
    margin-top: 15px;;
}

ul {
    list-style-type: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(127, 128, 130);
    margin: 0 0 0 -20px;
    font-weight: 400;
    padding: 15px 0 0 0;
    /* border: 1px solid rgb(120, 21, 95); */
    width:180px;

}

/* --------------RightSide ---------------*/
#rightSide {
    margin-right: 20px;
    margin-top: 10%;

}

#loginName {
    color: #333;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    /* font-style: ; */
}

#loginDescription {
    color: #666;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#email {
    background: none;
    border: 1px solid #b2b2b2;
    border-radius: 2px;
    box-sizing: border-box;
    color: #666;
    font-size: 13px;
    height: 42px;
    padding: 0 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    z-index: 1;
    margin-top: 1px;;
}
#password ,#name,#mobileNo,#confirmPassword{
    background: none;
    border: 1px solid #b2b2b2;
    border-radius: 2px;
    box-sizing: border-box;
    color: #666;
    font-size: 13px;
    height: 42px;
    padding: 0 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    z-index: 1;
    margin-top: 5px;
}


#btn {
    background-color: #007ebe;
    margin-top: 20px;
    ;
    border: 0 none;
    border-color: #007ebe;
    border-radius: 0.1875rem;
    border-style: solid;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    height: 3.125rem;
    line-height: 3.125rem;
    outline: none;
    padding: 0 0.625rem;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

#tc {
    margin-top: 20px;
    ;
    color: #666;
    font-size: 12px;
}
#tc span{
    color:blue;
}

#cashBack {
    display: flex;
    background-color: rgb(244, 252, 255);
    align-items: center;
    margin-top: 10px;
    justify-content: center;
}

#logo {
    box-sizing: border-box;
    height: 10%
}

#cashBack h4 {
    font-size: 14px;
    font-weight: 700;
    margin: 2px 0 0;
}

#cashBack h4 span {
    color: #0e9c0d;
}

#cashBack p {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
}

#loginUsing {
    text-align: center;
    /* width: 100%; */
    margin-top: 20px;
    margin-bottom: 20px;
    background: #ffffff;
    display: block;
    font-size: 12px;
    font-weight: 500;
    padding: 3px 5px 10px 0;
    text-align: center;
    
}

#loginUsing>p {
    background: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
}

#meta {
    display: flex;
    border-right: 1px solid #979797;
    color: rgba(0, 0, 0, .54);
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    height: 42px;
    line-height: 42px;
    text-align: center;
    text-decoration: none;
    width: 130px;
}

#meta img {
    width: 30%;
    height: auto;
    margin-top: 10px;
}

#meta img {
    width: 30%;
    height: auto;
    margin-top: 10px;

}

#meta p {
    margin: auto;
    padding-right: 10px;
}

#links {

    border: 1px solid #979797;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: max-content;
}
@media screen and (max-width: 1024px){
    /* Styles for landscape screens wider than 1213px */
    #container{
        grid-template-columns: repeat(1,1fr);
        padding-left: 10px;;
    }
  }
  @media screen and (max-width: 1024px) {
    #leftSide{
display: none;
    }
}
