body{
    background-color: #f2f2f2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
  a{
    text-decoration: none;
    color: #43464f
  }
#parent{
    width: 80%;
    margin: auto;
    display: flex;
    /* padding: 10px; */
}
#filterPart{
    width: 20%;
    background-color: white;
    /* margin: auto; */
    margin-right: 20px;
    padding: 10px;
}
#mainDiv{
    width: 80%;
    background-color: white;
    padding: 10px;
}
#mainDiv>p:nth-child(2){
    color:#8b8b8b
}
#mainDiv>p:nth-child(1){
    font-size:x-large;
    margin-bottom: -5px;
}
/* product show#####################################33 */
#allProduct{
    background-color: white;
    margin: auto;
    padding: 30px;
}
#infoDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#showProduct{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px
    /* gap:0px 100px 0px 30px; */
}
#showProduct>div{
 
    margin-bottom: -160px;
    
}
#showProduct>div>img{
    display: flex;
    width: 100%;
    height:40%
}
#showProduct h3{
margin-bottom: -12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#showProduct p{
    color:#8b8b8b;
    font-weight: 500;
}
#showProduct button{
    
  
   
    text-align: center;
    background-color: #0083ca;
    color: white;
    border-radius: 3%;
    border-color: none;
    font-weight: 600;
    border:none;
  width: 40%;
  height: 2rem;
}
/* ###########################################################3 */
/* filterpart!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!11 */
#sortSide{
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 0px 10px 0px 10px;
   
}
#sortSide>div>a:hover{
color:#0083ca ;
text-decoration: underline;
text-decoration-color:#0083ca;
text-underline-offset: 15px;

}
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@2 */
#filter1{
    display: flex;
    justify-content: space-between;
}

#filter1>a>p{
    color:#8b8b8b;
    font-size: larger;
}
#filter1 p{
   
}
#productTypeFilter1,#productTypeFilter2,#productTypeFilter3,#productTypeFilter4{
    display: block;
    height: 200px;
    width: 255px;
    /* border: 1px solid black; */
    overflow-y: scroll;
    margin-top: -20px;
    margin-bottom: -20px;
  }
  /* .productTypeFilter.hidden {
    display: none;
  }
   */
  #productTypeFilter1>div,#productTypeFilter2>div,#productTypeFilter3>div,#productTypeFilter4>div{
    display: flex;
    gap:20px;
    margin-bottom: -15px;
  }
  #filterPart hr{
    
        border: none; /* remove default border */
        border-top: 1px solid rgba(0, 0, 0, 0.1); /* add a new border */
      
  }
