#main{
    width: 80%;
    margin: auto;
    display: flex;
}
#show1{
width: 50%;
/* margin: auto; */
}
#show2{
width: 50%;
/* margin: auto; */
}
#subDiv,#innerMainDiv{
    display: flex;
}
#detailAndDesc{
    display: flex;
}